<a href="https://colab.research.google.com/github/YanaGlad/Numerical-Methods/blob/master/kursovaya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Считаем данные из файла

In [8]:
numbers = []
with open("test.txt", "r") as file:
    for line in file:
        numbers.append(int(line))

In [3]:
def binary_search(lst, target):
    low = 0
    high = len(lst) - 1
    while low <= high:
        mid = (low + high) 
        if lst[mid] == target:
            return mid
        elif lst[mid] > target:
            high = mid - 1
        else:
            low = mid + 1
    return None

In [14]:
def two_sum_binary_search(arr, total):
    length = len(arr) 
    arr = sorted(arr)
    for i in range(length):
        num = total - arr[i]
        num_idx = binary_search(arr, num)
        if num_idx is not None:  
            if num_idx != i:
                return (i, num_idx)
    return None


print(two_sum_binary_search(numbers, -933))

(6228, 1052818)

In [5]:
def two_sum_hash_table(arr, total):
    hash_table = dict()

    for i in range(len(arr)):
        num = total - arr[i]
        if num in hash_table:
            return i, hash_table[num]
        else:
            hash_table[arr[i]] = i
    return None


print(two_sum_hash_table(numbers, 888094771))

None

Через бинарный поиск

In [13]:
t = -1000
total = 0
while t<=1000:
   res = two_sum_hash_table(numbers, t)
   if res != None:
      total+=1
      print(res, ' an ', t)
   t+=1
total

(111079, 82191)  an  -933
(14806, 230)  an  -932
(58856, 3048)  an  -840
(105332, 24233)  an  -839
(421813, 211210)  an  -747
(32115, 19668)  an  -746
(68061, 67468)  an  -653
(100945, 65374)  an  -652
(123376, 34043)  an  -560
(120682, 92811)  an  -559
(39289, 24415)  an  -467
(150914, 109392)  an  -466
(126485, 108555)  an  -374
(11241, 9723)  an  -373
(26477, 22829)  an  -281
(90976, 53061)  an  -280
(44207, 17550)  an  -188
(46335, 4663)  an  -187
(408279, 161017)  an  -95
(63879, 29947)  an  -94
(42307, 35533)  an  -1
(47743, 27518)  an  92
(238758, 210142)  an  93
(151051, 80439)  an  185
(179185, 89475)  an  186
(89241, 32142)  an  278
(58119, 29150)  an  279
(102200, 64796)  an  371
(89215, 80520)  an  372
(22715, 16169)  an  464
(58246, 40650)  an  465
(149126, 43128)  an  557
(21372, 17106)  an  558
(139477, 130783)  an  650
(103227, 46588)  an  651
(121001, 45221)  an  744
(361271, 279255)  an  745
(104747, 55958)  an  837
(5045, 2061)  an  838
(32527, 22886)  an  930
(11573, 9736)  an  931

41